
*{
    margin: 0;
    padding: 0;
    font-family: san-serif;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009879;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s
}
.navbar ul li:hover::after{
    width: 100%;
}

.display_user{
    background: orange;
    float: left;
    color: white;
    border-radius: 25px;
    font: bold;
    height: auto;
    width: auto;
    
}

.box-element{
    box-shadow: hsl(0, 0%, 80%) 0, 0, 16px;
    border-radius: 4px;
    padding: 10px;
    align-items: center;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    min-width: 400px;
    max-height: 50px;
    
}
.content-table th{
    position: sticky
}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

h4{
    font-size: 20px;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}
.content h2{
    font-size: 40px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}

.banner{
    width: 100%;
    height:100vh;
    background-image: url('{% static " css/image/hospital2.jpg " %}');
    background-size: cover;
    background-position: center;
}

button{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009879;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009879;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; 
    transition: 0.5s;
    
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}


/* Modal style */

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1); 
}
.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body{
    padding: 10px 15px;
}
#overlay{
    position: fixed;
    opacity: 0; 
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.form-box{
    width: 90%;
    max-width: 450px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px, 60px, 70px;
    text-align: center;
    
}
.form-box h4{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #3c00a0;
    position: relative;
}

.form-box h4::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

}








